<div class="hotel-details-container">
  <div class="wrapper">
    <h1>{{ hotel?.hotelName }}</h1>
    <p><strong>Country:</strong> {{ hotel?.country }}</p>
    <p><strong>City:</strong> {{ hotel?.city }}</p>
    <p><strong>Phone Number:</strong> {{ hotel?.phoneNumber }}</p>
    <p><strong>Email:</strong> {{ hotel?.email }}</p>
    <p><strong>Address:</strong> {{ hotel?.address }}</p>
    <p><strong>Zip Code:</strong> {{ hotel?.zipCode }}</p>
    <p>{{ hotel?.hotelDescription }}</p>
    <p><strong>Amenities:</strong></p>
    <ul>
      <div *ngFor="let amenity of amenities">
        <div *ngIf="amenity.bar">
          <mat-icon> local_bar</mat-icon>
          Bar
        </div>
        <div *ngIf="amenity.pool">
          <mat-icon>pool</mat-icon>
          Pool
        </div>
        <div *ngIf="amenity.fitness">
          <mat-icon>fitness_center</mat-icon>
          Fitness
        </div>
        <div *ngIf="amenity.restaurant">
          <mat-icon> restaurant_menu</mat-icon>
          Restaurant
        </div>
        <div *ngIf="amenity.wiFi">
          <mat-icon>wifi</mat-icon>
          Wi-Fi
        </div>
        <div *ngIf="amenity.roomService">
          <mat-icon>room_service</mat-icon>
          Room Service
        </div>
      </div>
    </ul>
    <h2>Rooms</h2>
    <div *ngFor="let room of rooms">
      <p><b>Room Type</b>: {{ room.roomType }}</p>
      <p><b>Price</b>: {{ room.price }}</p>
      <p><b>Availability</b>: {{ room.availability }}</p>
      <p><b>Balcony</b>: {{ room.balcony }}</p>
      <p><b>Air Conditioning</b>: {{ room.airConditioning }}</p>
      <p><b>Kitchenette</b>: {{ room.kitchenette }}</p>
      <p><b>Hairdryer</b>: {{ room.hairdryer }}</p>
      <p><b>Tv</b>: {{ room.tv }}</p>
    </div>
    <h2>Reviews</h2>
    <div *ngFor="let review of reviews">
      <p><b>Review</b>: {{ review.reviewText }}</p>
    </div>
    <button mat-raised-button color="primary" (click)="addReview(hotel.hotelId)">
      <mat-icon>add_comment</mat-icon>
      Add Review
    </button>
    <button mat-raised-button color="primary" (click)="addReservation()">Make Reservation</button>
    <div class="full" id="map"></div>
  </div>
</div>

