<header>
  <div class="wrapper">
      <mat-toolbar>
        <mat-toolbar-row>
      <div class="menu-button">
        <button mat-icon-button color="white" (click)="toggleSideNav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
          <span class="welcome-link-container">
            <a mat-button routerLink="" class="welcome-link">Welcome to Sleep&Go</a>
          </span>
          <img src="assets/images/Logo3_resized.png">
      <div class="spacer"></div>
      <div class="all-button-container">
        <div class="button-container">
          <a mat-raised-button color="primary" routerLink="/register" class="toolbar-button" *ngIf="!isLoggedIn()">Register</a>
          <a mat-raised-button color="primary" routerLink="/login" class="toolbar-button" *ngIf="!isLoggedIn()">
            <mat-icon>input</mat-icon>
            Sign In
          </a>
          <a mat-raised-button color="primary" (click)="logout()" class="toolbar-button" *ngIf="isLoggedIn()">
            <i class="material-icons">logout</i>
            Sign Out
          </a>
        </div>
      </div>
        </mat-toolbar-row>
      </mat-toolbar>
  </div>
</header>
