.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  width: 5%;
  color: #3F51B5;
}

mat-toolbar {
  position: sticky;
  background-color: #54C4E0;
  z-index: 100;
}

.mat-toolbar .toolbar-button {
  background-color: #3F51B5;
}

.all-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.25;
}

.button-container {
  display: flex;
}

.spacer {
  flex: 1;
}

mat-sidenav-container {
  height: 93.35vh;
}

.welcome-link {
  background-color: #54C4E0;
  color: black;
  font-size: 20px;
}

