/*.wrapper {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

/*.menu-button {*/
/*  width: 5%;*/
/*  color: white;*/
/*}*/

/*mat-toolbar {*/
/*  background-color: #54C4E0;*/
/*}*/

/*.mat-toolbar .toolbar-button {*/
/*  background-color: white;*/
/*}*/

/*.all-button-container {*/
/*  display: inline-flex;*/
/*  justify-content: space-between;*/
/*}*/

/*.button-container {*/
/*  !*margin-left: 500%;*!*/
/*  margin-left: calc(100%);*/
/*}*/

/*.spacer {*/
/*  flex: 0.3;*/
/*}*/

/*.search-bar-container {*/
/*  flex: 0.5;*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*  align-items: center;*/
/*}*/




.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  width: 5%;
  color: #3F51B5;
}

mat-toolbar {
  background-color: #54C4E0;
}

.mat-toolbar .toolbar-button {
  background-color: #3F51B5;
}

.all-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.button-container {
  display: flex;
}

.spacer {
  flex: 0.05;
}


.search-bar-container {
  flex: 0.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-bar {
  width: 70%;
  height: 100%;
  background-color: white;
  margin-top: 30px;
}

mat-sidenav-container {
  height: 93.35vh;
}

mat-sidenav {
  width: 200px;
}

.mat-list-item {
  display: flex;
  align-items: center;
}

.aligned-with-icon{
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
}


