<header>
  <div class="wrapper">
      <mat-toolbar>
      <div class="menu-button">
        <button mat-mini-fab color="white">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span>Welcome to Sleep&Go</span>
      <img src="assets/images/Logo3_resized.png">
      <div class="all-button-container">
        <a mat-stroked-button color="primary" routerLink="" class="toolbar-button">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          Home
        </a>
        <div class="button-container">
          <a mat-stroked-button color="primary" routerLink="/login" class="toolbar-button">Login</a>
          <a mat-stroked-button color="primary" routerLink="/register" class="toolbar-button">Register</a>
        </div>
      </div>
      </mat-toolbar>
  </div>
</header>





