<div class="hotel-container">
  <div class="wrapper">
    <mat-toolbar color="primary">
      <h1 style="margin: auto">Hotels</h1>
    </mat-toolbar>
    <mat-toolbar color="primary">
      <h2 >View Hotels</h2>
      <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
        <span *ngIf="gridColumns === 4">Three Columns</span>
        <span *ngIf="gridColumns === 3">Four Columns</span>
      </button>
    </mat-toolbar>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let hotel of hotels">
          <!--          <div class="hotel-cards" *ngIf="searchText === '' || num.name.toLowerCase().includes(searchText) ">-->
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{hotel.hotelName}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/Hotel_background_image2.jpg">
            <mat-card-content>
              <p>{{hotel.hotelDescription}}</p>
            </mat-card-content>
          </mat-card>
          <!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>

