<div class="review-container">
<mat-card class="wrapper">
    <mat-card-header>
      <h1><b>Review History</b></h1>
    </mat-card-header>
    <mat-card-content class="content-container">
      <form class="form-container" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let review of reviews" class="review">
          <p><b>Hotel Name</b>: {{ review.hotelName }}</p>
          <p><b>Review Text</b>: {{ review.reviewText }}</p>
          <hr class="review-separator">
        </div>
        <a mat-raised-button color="primary" routerLink="">
          <mat-icon>home</mat-icon>
          <span class="aligned-with-icon">Home</span>
        </a>
      </form>
    </mat-card-content>
  </mat-card>
<app-footer></app-footer>
</div>
