.logo {
  text-align: center;
}

mat-divider {
  margin-top: 23px;
  border-top-width: 2px;
  border-color: white;
}

.mat-list-item {
  display: flex;
  align-items: center;
}

.aligned-with-icon{
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
}

h1 {
  font-weight: bold;
}
